
.subtabs-listview {
  display: flex;
  flex-direction: column;

  .subtab {
    display: flex;

    position: relative;
    padding: 5px;
    margin-bottom: 2px;

    font-size: 1rem;
    cursor: pointer;

    .icon {
      width: 1.6rem;
    }
    .title {
      text-decoration: var(--color-scheme-saturated) underline 1px;
      color: var(--text-secondary);
    }
    .options {
      position: absolute;
      right: 0;
    }
    &:hover {
      background-color: var(--background-secondary);
    }
  }

  .new-subtab-input {
    display: flex;
    align-items: center;
    background-color: var(--color-scheme-primary);
    position: relative;
    padding: 6px 6px;
    border-radius: 3px;

    .edit-icon {
      height: 100%;
      
      .preview {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.4rem;
        height: 1.4rem;
        font-size: 1rem;
        outline: 1px var(--color-scheme-saturated) solid;
        background-color: var(--color-scheme-pastel);
        margin-right: 7px;
        border-radius: 5px;
      }
    }
    .text-input {
      height: 100%;
      width: 250px;
      color: var(--text-secondary);
      background-color: var(--color-scheme-pastel);
      outline: 1px var(--color-scheme-saturated) solid;
      height: 1.4rem;
      padding: 2px 4px;
      font-size: 0.9rem;
      border-radius: 1px;
    }
    .options {
      position: absolute;
      right: 0;
    }
    &:hover {
      background-color: var(--background-secondary);
    }
  }
}