.tab {

  &__header {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 2.5rem 1fr;
    grid-template-rows: 42px 15px;
    border-bottom: 1px var(--color-scheme-secondary) solid;
    background-color: var(--background-primary);
    padding: 0.6rem 0 1rem 1.5rem;
    position: sticky;
    top: var(--header-height);
    z-index: 1000;

    .icon {
      font-size: 1.5rem;
      align-self: center;
      justify-self: center;
    }
    .text-header {
      display: flex;
      align-items: flex-end;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      align-self: center;
      
      .title {
        font-family: 'Nunito Sans';
        color: var(--text-primary);
        font-weight: 1000;
        font-size: 1.3rem;
      }
      .route {
        font-size: 0.8rem;
        color: var(--text-secondary);
        font-weight: 100;
        margin-left: 4px;
      }
    }
    .description {
      font-size: 0.8em;
      color: var(--text-secondary);
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      align-self: center;
    }

  }
  &__content {
    padding: 0 calc(1.5rem + 30px);
  }
}