
.assignments {
  display: flex;
  flex-direction: column;

  .tasks-block {
    display: flex;
    flex-direction: column;
    
    &__header {
      padding: 0 10px;
      cursor: pointer;
      &::after {
        content: "";
        margin-top: 4px;
        display: block;
        background-color: var(--background-secondary);
        height: 1px;
        width: 100%;
      }
    }

    ul {
      padding: 5px 0 0 10px;
      .task {
        display: flex;
        list-style: none;
        height: 24px;
  
        input {
          margin-right: 5px;
        }
      }
    }

  }
}