
.assignments {
  display: flex;
  flex-direction: column;

  .tasks-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    
    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      background-color: rgb(233, 229, 222);
      border-radius: 5px;
      height: 1.5rem;

      input {
        margin-right: 5px;
      }
    }

    .tasks-list {
      padding: 5px 0 0 10px;
      
      .task {
        display: flex;
        align-items: center;
        padding-bottom: 5px;
        
        &__status {
          display: flex;
          align-items: center;

          background-color: #c7d6c3;
          border-radius: 4px;

          height: 1.3rem;
          font-size: 0.8rem;

          div {
            padding: 0 6px;
            line-height: 100%;
          }
        }
        &__text {
          display: flex;
          align-items: center;
          
          height: 1.5rem;
          margin-left: 8px;
          font-size: 1rem;
        }
        input {
          margin-right: 5px;
        }
      }
    }

  }
}