
.assignments {
  display: flex;
  flex-direction: column;

  .todos-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    
    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      background-color: rgb(233, 229, 222);
      border-radius: 5px;
      height: 1.5rem;

      input {
        margin-right: 5px;
      }
    }

    .todos-input {
      text-align: center;
      font-size: 0.8rem;
      font-weight: 300;

      background: none;
      border: none;
      cursor: pointer;
    }

    // The todos group list
    .todos-list {
      padding: 5px 0 0 10px;
      
      .todo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 4px 0;
        
        &__status {
          display: flex;
          align-items: center;

          background-color: #c7d6c3;
          border-radius: 4px;

          height: 20px;
          min-width: 100px;
          max-width: 100px;
          font-size: 0.8rem;

          div {
            margin: 0 auto;
            padding: 0 6px;
            line-height: 100%;
            word-break: break-all;
          }
        }
        &__text {
          display: flex;
          align-items: center;
          
          border: none;
          outline: none;
          background: none;

          margin-left: 8px;
          height: 1.5rem;
          width: 100%;
          font-size: 1rem;
        }
        input {
          margin-right: 5px;
          resize: none;
        }
      }
    }

  }
}