:root {
  --calendar-header: 25px;
  --hour-height: 60px;
}
.calendar-options {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
}
.calendar {
  display: flex;
  width: 100%;
  background-color: var(--background-primary);
  height: 600px;
    
  .wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    .side-hours {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: calc(var(--hour-height) * 24 + var(--calendar-header)); // 24-1 hours
      width: 50px;
      flex-shrink: 0;
      
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1 1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1' height='1' fill='transparent' /%3E%3C/svg%3E"), url("data:image/svg+xml,%3Csvg viewBox='0 0 1 1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1' height='1' fill='hsla(210%2C18%25%2C87%25%2C1)' /%3E%3C/svg%3E");
      background-size: 1px var(--hour-height);
      background-position-y: -5px;
      background-repeat: repeat-x, repeat;
      
      .side-header {
        position: sticky;
        top: 0;
        min-height: var(--calendar-header)
      }
      .hour {
        position: relative;
        width: 100%;
        left: -10px;
        top: -7px;
        text-align: center;
        padding-bottom: 46.2px;
        background-color: var(--background-primary);
        color: var(--text-secondary);
        font-size: 0.75rem;
      }
    }
    .week-table {

      display: flex; // si lo quitas pasa algo épico
      width: 100%;

      .day-column {
        display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;
        min-width: 60px;
        padding-right: 5px;
  
        height: calc(var(--hour-height) * 24 + var(--calendar-header)); // 24 hours - header height
        
        &__header {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          
          position: sticky;
          top: 0;
          z-index: 100;
          
          min-height: var(--calendar-header);
          max-height: var(--calendar-header);
          //border-top: 1px solid gray;
          //border-bottom: 1px solid gray;
          font-family: 'Source Sans Pro';
          font-weight: 300;
          color: var(--text-primary);
          background-color: var(--color-scheme-pastel);
          overflow: hidden;
          
          &.today {
            background-color: var(--color-scheme-normal);
          }
        }
        &__content {
          position: relative;
          height: inherit;
          
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1 1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1' height='1' fill='transparent' /%3E%3C/svg%3E"), url("data:image/svg+xml,%3Csvg viewBox='0 0 1 1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1' height='1' fill='hsla(210%2C18%25%2C87%25%2C1)' /%3E%3C/svg%3E");
          background-size: 1px var(--hour-height);
          background-position-y: 30px; // header height
          background-repeat: repeat-x, repeat;
        }
      }
    } // week-table
  } // wrapper
} // calendar