
.app {

  min-height: 0;
  min-width: 0;
  .app-wrapper {
    display: flex;
  }
}

.side-bar {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: sticky;
  top: 0;
  z-index: 1000;

  transition: width 0.2s;
  height: 100vh;
  background-color: var(--aside-primary);
  min-width: var(--aside-width);

  .side-bar-switcher {
    position: absolute;
    right: -20px;
    top: 5px;

    outline: 1px black solid;

    border: none;
    background: none;
    cursor: pointer;
  }
  &__panel {
    display: flex;
    justify-content: center;

    height: 60px;
    padding-top: 15px;
    transition: opacity 0.1s;
    overflow: hidden;

    .user {
      display: block;
    }
  }
  &__nav-list {
    display: flex;
    flex-direction: column;

    transition-delay: 0.1s;
    transition: opacity 0.1s;
    overflow: hidden;
  }
  &.hidden {
    width: 0;
    transition-delay: 0;
    .side-bar__panel, .side-bar__nav-list, .toggle-theme {
      transition-delay: 0;
      width: 0;
      opacity: 0;

    }
  }
}

.app__container {

  position: relative;
  right: 0;
  width: calc(100% - var(--aside-width));
  
  .app-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;

    height: var(--header-height);
    background-color: var(--header-primary);
    color: white;
  }
  .app-content {
    display: flex;

    background-color: var(--background-primary);
    height: calc(100% - var(--header-height));

    .tab {
      display: flex;
      flex-direction: column;
      width: 500px;
      margin: 20px auto;

      &__header {
        margin-bottom: 20px;
        &__title {
          display: flex;
          align-items: flex-end;
          font-size: 1.3em;
          font-weight: 600;
          margin-bottom: 10px;
          span {margin-right: 4px;}
        }
        &__desc {
          font-size: 0.8em;
        }
      }
    }
    .gadgets {
      position: sticky;
      top: var(--header-height);
      background-color: #ebe6e1;
      height: calc(100vh - var(--header-height));
      width: var(--aside-width);
    }
  }
}
