.app-overlay {
  position: fixed;
  inset: 0px;
  z-index: 10000;
  pointer-events: none;
  overflow: hidden;

  .data-overlay {
    position: relative;
    pointer-events: auto;
    z-index: 0;
  }
}